@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_Layout";
}

<script>
    function layout(inner, outer)
    {
        function updatePosition(){
            inner.style.position = 'absolute';
            inner.style.left = outer.offsetLeft+'px';
            inner.style.top = outer.offsetTop+'px';
            inner.style.width = outer.offsetWidth+'px';
            inner.style.height = outer.offsetHeight+'px';
        }
        document.addEventListener('scroll',updatePosition);
        window.addEventListener('resize',updatePosition);
        window.dispatchEvent(new Event('resize'));
    }
</script>

<div>
    <div id="pane" style="width: 100%; height: 320px;" class="btn btn-primary">
    <button onclick="layout(button,pane)" style="position: absolute; width: 160px; height: 160px;" class="btn btn-danger"> position </button>    
    </div>
    <button id="button" onclick="layout(button,pane)" style="width: 160px; height: 160px;" class="btn btn-danger"> 1 </button>
    <hr/>

</div>